<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- Add config info-->
  <appSettings>
    <!--add provider similar to p. 815-->
    <add key="provider1" value="SQLServer" />
    
    <!-- different provider + connection string p. 826-->
    <add key="provider2" value="System.Data.SqlClient" />
    <add key="connectionString2" value="Data Souce=(localdb)\mssqllocaldb;
         Initial Catalog=Autolot; Integrated Secuirty=True" />
    
    <!--p. 827-828-->
    <add key="provider3" value="System.Data.OleDB" />
    <add key="connectionString3" value="Provider=SQLNCI11=SSPI;
         Data Course=(localdb)\mssqllocaldb;
         Integrated Secuirty=SSPI; Initial Catalog=Autolot" />
  </appSettings>

  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString=
         "Data Source=(localdb)\mssqllocaldb;
         Integrated Secuirty=True; Initial Catalog=Autolot" />
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLNCI11=SSPI
         Data Souce=(localdb)\mssqllocaldb; Initial Catalog=Autolot"/>
  </connectionStrings>
</configuration>
